<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- author:   lc.huang,  date:    2019-12-6 17:49:43,    -->

<mapper namespace="com.hwgif.demo.dao.impl.SysRoleDaoImpl" >
<resultMap id="BaseResultMap" type="com.hwgif.demo.bean.SysRole" >
    <result property="id" jdbcType="INTEGER" column="id"/>
    <result property="name" jdbcType="VARCHAR" column="name"/>
</resultMap>
<sql id="Base_Column_List" >
id,
name
        </sql>
<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
select
<include refid="Base_Column_List" />
from sys_role
where  
id = #{id}         </select>
<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
delete from sys_role
where  
id = #{id} 
        </delete>
<insert id="insert" parameterType="com.hwgif.demo.bean.SysRole" useGeneratedKeys="true" keyProperty="id">
insert into sys_role (<include refid="Base_Column_List" />
)
values (
null,<!--主键自动生成  -->
#{name}        )
        </insert>
<insert id="insertSelective" parameterType="com.hwgif.demo.bean.SysRole" useGeneratedKeys="true" keyProperty="id">
insert into sys_role
<trim prefix="(" suffix=")" suffixOverrides="," >
    <if test=" id != null" >
        id,
    </if>
    <if test=" name != null" >
        name,
    </if>
</trim>
<trim prefix="values (" suffix=")" suffixOverrides="," >
<if test=" id != null" >
    #{id},
</if>
<if test=" name != null" >
    #{name},
</if>
        </trim>
        </insert>
<update id="updateByPrimaryKeySelective" parameterType="com.hwgif.demo.bean.SysRole" >
UPDATE sys_role
<set>
    <if test="name!=null">
        name = #{name},
    </if>
        </set>
        WHERE
        id = #{id}
        </update>
<update id="updateByPrimaryKey" parameterType="com.hwgif.demo.bean.SysRole" >
update sys_role set
name = #{name}
        where
        id = #{id} 
        </update>

        <!--查询条件-->
<sql id="selectCondition">
<where>
    <trim suffixOverrides="and">
        <!--
      <if test=" entity != null">
        <if test="entity.id!=null">
          and id=#{entity.id}
        </if>
      </if>
       -->
</trim>
<trim suffixOverrides="and">
<if test="whereSql!=null">
    and ${whereSql}
</if>
</trim>
        </where>
        </sql>

        <!-- 根据条件查询 -->
<select id="getListByEntityAndPageInfo" resultMap="BaseResultMap">
select
<include refid="Base_Column_List" />
from sys_role
<include refid="selectCondition" />
<if test="orderBy!=null">
    ${orderBy}
</if>
<if test="pageInfo!=null">
    limit ${pageInfo.size} offset ${pageInfo.startIndex}
</if>
</select>

        <!-- 查询总数 -->
<select id="getTotalByEntity" resultType="java.lang.Integer">
select count(*) from sys_role
<include refid="selectCondition" />
</select>

    <select id="getListInIds" resultType="java.util.List">
        select
        <include refid="Base_Column_List" />
        from sys_role where id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>




        </mapper>