<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- author:   lc.huang,  date:    2019-12-6 17:49:43,    -->

<mapper namespace="com.hwgif.demo.dao.impl.SysUserDaoImpl" >
<resultMap id="BaseResultMap" type="com.hwgif.demo.bean.SysUser" >
    <result property="id" jdbcType="INTEGER" column="id"/>
    <result property="username" jdbcType="VARCHAR" column="username"/>
    <result property="password" jdbcType="VARCHAR" column="password"/>
</resultMap>
<sql id="Base_Column_List" >
id,
username,
password
        </sql>
<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
select
<include refid="Base_Column_List" />
from sys_user
where  
id = #{id}         </select>
<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
delete from sys_user
where  
id = #{id} 
        </delete>
<insert id="insert" parameterType="com.hwgif.demo.bean.SysUser" useGeneratedKeys="true" keyProperty="id">
insert into sys_user (<include refid="Base_Column_List" />
)
values (
null,<!--主键自动生成  -->
#{username},
#{password}        )
        </insert>
<insert id="insertSelective" parameterType="com.hwgif.demo.bean.SysUser" useGeneratedKeys="true" keyProperty="id">
insert into sys_user
<trim prefix="(" suffix=")" suffixOverrides="," >
    <if test=" id != null" >
        id,
    </if>
    <if test=" username != null" >
        username,
    </if>
    <if test=" password != null" >
        password,
    </if>
</trim>
<trim prefix="values (" suffix=")" suffixOverrides="," >
<if test=" id != null" >
    #{id},
</if>
<if test=" username != null" >
    #{username},
</if>
<if test=" password != null" >
    #{password},
</if>
        </trim>
        </insert>
<update id="updateByPrimaryKeySelective" parameterType="com.hwgif.demo.bean.SysUser" >
UPDATE sys_user
<set>
    <if test="username!=null">
        username = #{username},
    </if>
    <if test="password!=null">
        password = #{password},
    </if>
        </set>
        WHERE
        id = #{id}
        </update>
<update id="updateByPrimaryKey" parameterType="com.hwgif.demo.bean.SysUser" >
update sys_user set
username = #{username},
password = #{password}
        where
        id = #{id} 
        </update>

        <!--查询条件-->
<sql id="selectCondition">
<where>
    <trim suffixOverrides="and">

      <if test=" entity != null">
        <if test="entity.username!=null">
          and username=#{entity.username}
        </if>
      </if>

</trim>
<trim suffixOverrides="and">
<if test="whereSql!=null">
    and ${whereSql}
</if>
</trim>
        </where>
        </sql>

        <!-- 根据条件查询 -->
<select id="getListByEntityAndPageInfo" resultMap="BaseResultMap">
select
<include refid="Base_Column_List" />
from sys_user
<include refid="selectCondition" />
<if test="orderBy!=null">
    ${orderBy}
</if>
<if test="pageInfo!=null">
    limit ${pageInfo.size} offset ${pageInfo.startIndex}
</if>
</select>

        <!-- 查询总数 -->
<select id="getTotalByEntity" resultType="java.lang.Integer">
select count(*) from sys_user
<include refid="selectCondition" />
</select>

        </mapper>