<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- author:   lc.huang,  date:    2019-12-6 17:49:43,    -->

<mapper namespace="com.hwgif.demo.dao.impl.SysUserRoleDaoImpl" >
<resultMap id="BaseResultMap" type="com.hwgif.demo.bean.SysUserRole" >
    <result property="id" jdbcType="INTEGER" column="id"/>
    <result property="sysUserId" jdbcType="INTEGER" column="sys_user_id"/>
    <result property="sysRoleId" jdbcType="INTEGER" column="sys_role_id"/>
</resultMap>
<sql id="Base_Column_List" >
id,
sys_user_id,
sys_role_id
        </sql>
<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
select
<include refid="Base_Column_List" />
from sys_user_role
where  
id = #{id}         </select>
<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
delete from sys_user_role
where  
id = #{id} 
        </delete>
<insert id="insert" parameterType="com.hwgif.demo.bean.SysUserRole" useGeneratedKeys="true" keyProperty="id">
insert into sys_user_role (<include refid="Base_Column_List" />
)
values (
null,<!--主键自动生成  -->
#{sysUserId},
#{sysRoleId}        )
        </insert>
<insert id="insertSelective" parameterType="com.hwgif.demo.bean.SysUserRole" useGeneratedKeys="true" keyProperty="id">
insert into sys_user_role
<trim prefix="(" suffix=")" suffixOverrides="," >
    <if test=" id != null" >
        id,
    </if>
    <if test=" sysUserId != null" >
        sys_user_id,
    </if>
    <if test=" sysRoleId != null" >
        sys_role_id,
    </if>
</trim>
<trim prefix="values (" suffix=")" suffixOverrides="," >
<if test=" id != null" >
    #{id},
</if>
<if test=" sysUserId != null" >
    #{sysUserId},
</if>
<if test=" sysRoleId != null" >
    #{sysRoleId},
</if>
        </trim>
        </insert>
<update id="updateByPrimaryKeySelective" parameterType="com.hwgif.demo.bean.SysUserRole" >
UPDATE sys_user_role
<set>
    <if test="sysUserId!=null">
        sys_user_id = #{sysUserId},
    </if>
    <if test="sysRoleId!=null">
        sys_role_id = #{sysRoleId},
    </if>
        </set>
        WHERE
        id = #{id}
        </update>
<update id="updateByPrimaryKey" parameterType="com.hwgif.demo.bean.SysUserRole" >
update sys_user_role set
sys_user_id = #{sysUserId},
sys_role_id = #{sysRoleId}
        where
        id = #{id} 
        </update>

        <!--查询条件-->
<sql id="selectCondition">
<where>
    <trim suffixOverrides="and">
        <!--
      <if test=" entity != null">
        <if test="entity.id!=null">
          and id=#{entity.id}
        </if>
      </if>
       -->
</trim>
<trim suffixOverrides="and">
<if test="whereSql!=null">
    and ${whereSql}
</if>
</trim>
        </where>
        </sql>

        <!-- 根据条件查询 -->
<select id="getListByEntityAndPageInfo" resultMap="BaseResultMap">
select
<include refid="Base_Column_List" />
from sys_user_role
<include refid="selectCondition" />
<if test="orderBy!=null">
    ${orderBy}
</if>
<if test="pageInfo!=null">
    limit ${pageInfo.size} offset ${pageInfo.startIndex}
</if>
</select>

        <!-- 查询总数 -->
<select id="getTotalByEntity" resultType="java.lang.Integer">
select count(*) from sys_user_role
<include refid="selectCondition" />
</select>

        </mapper>